* {
    margin: 0;
    padding: 0;
}

html {
    background: #F1F0E2;
    font-size: 18px;
}
header, nav, section {
    font-family: proxima-nova, sans-serif;
}

h1 {
    font-family: hucklebuck-jf, sans-serif;
    line-height: 1.0;
    font-weight: 400;
    font-style: normal;
    font-size: 8em;
    color: #068587;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;
}

h2, h3, h4 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2,h3 {
    color: #3E4E59;
}

h2 {
    max-width: 700px;
    margin: 0 auto
}

h3 {
    margin-bottom: 1%;
}

a {
    color: #2E80BF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
  margin-bottom: 50px;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 30px;
}
nav ul li a {
    background-color: #ED553B;
    color: white;
    text-decoration: none;
    padding: 0.75em 1.25em;
    border: 1px solid white;
}
nav ul li a:hover {
    background-color: #F2B134;
}
@media only screen
and (max-width : 515px)
{
  nav ul li {
    margin-bottom: 35px;
  }
}

#book-list, p, p a {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#book-list {
    width: 100%;
}

/* articles page */

main section h2 {
  margin-bottom:25px;
  /* overwrite */
  max-width: 100%;
}
section div > p {
  margin-left: 0.5in;
  text-indent: -0.5in;
  margin-bottom: 15px;
  padding: 10px;
}

/* submit page */

#googleForm {
    max-width: 640px;
    margin: 0 auto;
}

/* formatting linked book title rows */

.tabulator-row .tabulator-cell[tabulator-field="title"] {
    white-space: pre-wrap;
}


.tabulator-row .tabulator-cell[tabulator-field="title"] a {
    text-decoration: none;
    color: #1B64BA;
}

.tabulator-row .tabulator-cell[tabulator-field="title"] a:hover {
    color:#ED553B
}

/* let's add some padding to cells with more text */

.tabulator-row .tabulator-cell[tabulator-field="title"], .tabulator-row .tabulator-cell[tabulator-field="author"], .tabulator-row .tabulator-cell[tabulator-field="publisher"] {
    padding: 1% .5%;
}

.table-container .tabulator-row-even, .tabulator-header {
    background-color: rgba(143,197,183,.3);
}
.tabulator .tabulator-header .tabulator-col {
    background-color: rgba(143,197,183,1);
}

.table-container .tabulator {
    font-size: 15px;
}

.table-container {
    max-width:1200px;
    margin: 0 auto;
}

.about-page {
    max-width: 800px;
}

.about-page p{
    margin-bottom: 2.5%

}

@media only screen
and (min-width : 375px)
and (max-width : 675px)
{
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 1.25em;
    }
    .about-page {
        padding: 1% 2%;
    }
    .nav-links a {
        padding: .75em 1.25em;
    }
    h3 {
        margin-top: 10%;
    }
}

/* iPhone SE breakpoints */

@media only screen
and (min-width : 320px)
and (max-width : 568px)
{
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.25em;
    }
    .about-page {
        padding: .5% .75%;
    }
    .nav-links a {
        padding: .75em 1.25em;
    }
    h3 {
        margin-top: 10%;
    }
    .mobile-headsup {
        font-size: 10px;
    }
}

@media only screen
and (min-width: 1100px) {
    .mobile-headsup {
        display: none;
    }
}
